# Your Title Here

**Name(s)**: (your name(s) here)

**Website Link**: (your website link)

In [1]:
import pandas as pd
import numpy as np

import plotly.express as px
pd.options.plotting.backend = 'plotly'

from lec_utils import * # Feel free to uncomment and use this. It'll make your plotly graphs look like ours in lecture!

## Step 1: Introduction

In [2]:
outages = pd.read_excel('outage.xlsx', skiprows=[0,1,2,3,4,6], usecols=lambda x: x not in ['variables', 'OBS'])
outages

,YEAR,MONTH,U.S._STATE,POSTAL.CODE,...,AREAPCT_UC,PCT_LAND,PCT_WATER_TOT,PCT_WATER_INLAND
0,2011,7.0,Minnesota,MN,...,0.60,91.59,8.41,5.48
1,2014,5.0,Minnesota,MN,...,0.60,91.59,8.41,5.48
2,2010,10.0,Minnesota,MN,...,0.60,91.59,8.41,5.48
...,...,...,...,...,...,...,...,...,...
1531,2009,8.0,South Dakota,SD,...,0.15,98.31,1.69,1.69
1532,2009,8.0,South Dakota,SD,...,0.15,98.31,1.69,1.69
1533,2000,NaN,Alaska,AK,...,0.02,85.76,14.24,2.90

## Step 2: Data Cleaning and Exploratory Data Analysis

In [3]:
outages['OUTAGE.START.TIME'] = pd.to_timedelta(outages['OUTAGE.START.TIME'].astype(str))
outages['OUTAGE.START'] = outages['OUTAGE.START.DATE'] + outages['OUTAGE.START.TIME']
outages.drop(columns=['OUTAGE.START.DATE', 'OUTAGE.START.TIME'], inplace=True)

outages['OUTAGE.RESTORATION.TIME'] = pd.to_timedelta(outages['OUTAGE.RESTORATION.TIME'].astype(str))
outages['OUTAGE.RESTORATION'] = outages['OUTAGE.RESTORATION.DATE'] + outages['OUTAGE.RESTORATION.TIME']
outages.drop(columns=['OUTAGE.RESTORATION.DATE', 'OUTAGE.RESTORATION.TIME'], inplace=True)

In [4]:
nan_counts = outages.isna().sum()
print(nan_counts)

YEAR                   0
MONTH                  9
U.S._STATE             0
                      ..
PCT_WATER_INLAND       0
OUTAGE.START           9
OUTAGE.RESTORATION    58
Length: 53, dtype: int64

In [ ]:
# TODO

## Step 3: Framing a Prediction Problem

In [ ]:
# TODO

## Step 4: Baseline Model

In [ ]:
# TODO

## Step 5: Final Model

In [ ]:
# TODO